body {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    color: #41b5fe;
    padding-top: 1rem;
}

.add_new {
    position: relative;

}

#create_field {
    height: 3rem;
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: .5rem;
    margin: 1rem 0;
}

.add_icon {
    color: lightgray;
    font-size: 4rem;
    position: absolute;
    right: 1rem;
    bottom: 1.1rem;
}

.add_icon:hover {
    cursor: pointer;
}

hr {
    background-color: #e4f2fe;
    height: 5px;
    border-top: none;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

/* List body */

.list-item {
    padding: 10px 0;
    position: relative;
}

i {
    color: #89c4f4;
}

/* For checkboxes */

.checkbox {
    position: relative;
    height: 1.5rem;
    width: 0;
    margin-right:  2rem;
}

.checkbox::before {
    content: '';
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: .3rem;
    border: 1px solid gray;
    border-radius: 2px;
}

.checkbox:checked::before{
    content: 'done';
    background-color: #ccc;
    color: gray;
}

/* Label text content */

label {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Edition field */

input.edit_field {
    height: 2.5rem;
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 3px;
    display: none;
}

/* Edit button and Save button*/

.edit_icon, .save_icon {
    font-size: 2.5rem;
    position: relative;
    bottom: -1rem;
    margin-left: .3rem;
}

.save_icon {
    display: none;
}
/* Delete button */

.delete_icon {
    font-size: 2.5rem;
    position: absolute;
    right: 1rem;
    bottom: .7rem;
}

.delete_icon:hover, .edit_icon:hover, .save_icon:hover {
    cursor: pointer;
}