body {
  font-family: roboto;
}
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}
* {
  margin: 0;
  padding: 0;
}
@media (max-width: 1400px){
  .menu-icon {
    display: none;
  }
}
header {
  grid-column: 1 / span2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: #162b4d;
  padding: 0px 55px 0px 20px;
}
body {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template: 90px 1fr 110px / 2fr 25%;
  background-color: #0b192f;
  color: #fff;
  font-weight: 300;
}
nav {
  max-width: 70%;
  height: 100%;
}
.menu-icon {
  display: none;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 34px 1rem 34px 1rem;
  transition: background-color 0.4s linear;
}
a:hover {
  background-color: #283d5f;
}
h1, h2, h3 {
  font-weight: 100;
}
h1 {
  font-size: 36px;
}
h1 span {
  color: #d12767;
}
main {
  padding: 20px 0px 20px;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div {
  width: 100%;
}
.post {
  display: flex;
  flex-direction: row;
}
.post:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}
.post:nth-child(even) article {
  flex-direction: row-reverse;
}
.post:nth-child(even) article>p {
  padding-left: 0px;
  padding-right: 20px;
}
.post:nth-child(even) h2 {
  padding: 10px 0px 0px 30px;
}
.post article {
  display: flex;
  transition: opacity 0.5s linear;
}
.post article:hover, .post img:hover {
  opacity: 0.5;
}
.post h2 {
  line-height: 1;
}
.post p {
  opacity: 0.6;
}
.post article>p, .post-5 article>p {
  width: 30%;
  padding: 20px 0px 30px 20px;
  font-weight: 100;
  font-size: 26px;
  text-align: center;
}
.post p span {
  font-size: 50px;
}
.post img {
  width: 50%; 
  transition: opacity 0.3s linear;
}
.post-text h2 {
  font-size: 46px;
}
div.post-text {
  padding: 30px 30px;
}
.post-text p {
  margin: 25px 0 10px;
  line-height: 1.6;
}
.post-5 article>p {
  width: 10%;
}
.post-5 .post-text {
  padding-bottom: 30px;
}
aside {
  grid-column: 2;
  grid-row: 2;
  max-width: 100%;
  margin: 20px 0 0 20px;
  color: #000;
}
aside img {
  width: 100%;
}
.news article {
  background-color: #fff;
}
.news h3 {
  font-size: 28px;
  font-weight: 300;
  margin: 20px 25px 10px 25px;
}
.news p {
  margin: 0px 25px 0px 25px;
  padding-bottom: 30px;
  line-height: 1.6;
}
footer {
  grid-row: 3;
  grid-column: 1 / span 3;
  background-color: #162b4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  padding: 0px 25px;
  opacity: 0.6;
  font-weight: 100;
  line-height: 1.6;
}
/* for the tablet */
@media screen and (max-width: 768px) {
  body {
    max-width: 750px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template: 90px 1fr 160px / 1fr 40%;
  }
  .post {
    flex-direction: column;
  }
  .post img {
    width: 100%; 
  }
  .post:nth-child(even) {
    flex-direction: column;
  }
  .post article {
    flex-direction: column;
    align-items: center;
  }  
  .post article>p {
    max-width: 100%;
    padding: 0px 0px 15px 5px;
    font-weight: 100;
    font-size: 26px;
    text-align: center;
  }
  div.post-text {
    width: 80%;
    padding: 0;
    margin: 30px 10% 0px 10%;
  }
  .post-text p {
    padding-bottom: 30px;
  }
  .post:nth-child(even) {
    flex-direction: column;
    text-align: left;
  }
  .post:nth-child(even) article {
    flex-direction: column;
  }
  .post:nth-child(even) h2 {
    padding: 0px;
  }
  .post-5 .post-text {
    padding: 0px;
  }
  footer {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer p {
    text-align: center;
  }
}
/* for the phone screen */
@media screen and (max-width: 480px) {
  body {
    max-width: 470px;
    display: flex;
    flex-direction: column;
  }
  main {
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
  }
  aside {
    grid-column: 1;
    grid-row: 2;
    margin: 0 0 20px 0;
  }
  nav {
    display: none;
  }
  header {
    height: 160px;
    grid-column: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
  }
  div.menu-icon {
    display: initial;
  }
  .menu-icon div {
    width: 15px;
    height: 1px;
    background-color: #fff;
    margin: 5px auto;
  }
  footer {
    height: 160px;
  }
}