@mixin name {
}
$myMap: (
    mainWidth: 1280px,
);
body {
    background-color: $mainBackground;
    margin: 0;
}
.header {
    background: $backgroundImage no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 30em/15em 0px;
    font-family: $baseFont;
    color: $textColor;
    height: 650px;
    .header-wrap {
        margin: 0 auto;
        width: map-get($myMap, mainWidth);
    }
    .header_heading {
        margin: 74px 0px 35px 0px;
        max-width: 640px;
        font-size: 450%;
        font-weight: 700;
        line-height: 100%;
        position: relative;
        z-index: 1;
        &:after {
            content: '';
            width: 303px;
            height: 25px;
            background: $underscoreColor;
            position: absolute;
            z-index: -1;
            bottom: 0px;
            left: 0px;
        }
    }
    .header_text {
        max-width: 70%;
        margin-bottom: 60px;
        font-family: $headerLogoFont;
        line-height: 150%;
        white-space: pre-line;
    }
}
.landing-logo {
    display: flex;
    color: $textColor;
    font-family: $headerLogoFont;
    padding-top: 25px;
    p {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 15px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        line-height: 150%;
        span {
            font-size: 10px;
            line-height: 0%;
        }
    }
}
.header_button {
    border: none;
    border-radius: 4px;
    width: 140px;
    height: 48px;
    background-color: #699900;
    font-family: $baseFont;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
main {
    margin: 0 auto;
    width: map-get($myMap, mainWidth);
}
.section_text {
    font-family: $baseFont;
    color: $textColor;
    text-align: center;
    font-size: 45px;
    font-stretch: ultra-condensed;
    font-weight: 600;
    position: relative;
    z-index: 2;
    margin: 30px 0px 40px 0px;
    &:after {
        content: '';
        width: 200px;
        height: 12px;
        bottom: 10px;
        left: 650px;
        background: $underscoreColor;
        position: absolute;
        z-index: -1;
    }
}
.section_card_wrap {
    display: flex;
    justify-content: center;
}
.section_card {
    background-color: #21232e;
    border-radius: 5px;
    padding: 20px;
    margin-right: 15px;
    max-width: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.section_card_img {
    height: 240px;
    border-radius: 5px;
}
.section_card_heading {
    font-family: $baseFont;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    max-width: max-content;
    margin: 15px auto 10px auto;
    position: relative;
    z-index: 1;
}
.section_card_underline {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $underscoreColor;
    height: 12px;
    position: absolute;
    align-content: center;
    bottom: 2px;
    z-index: -1;
}
.section_card_text {
    font-family: $headerLogoFont;
    color: $otherTextColor;
    max-width: 360px;
    text-align: center;
    line-height: 155%;
    margin-top: 4px;
    margin-bottom: 0px;
}
.section {
    margin-bottom: 210px;
    position: relative;
}
.section_banner {
	width: 950px;
	background: $gradient;
	border-radius: 5px;
    position: absolute;
    z-index: 2;
    bottom: -280px;
    left: 160px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section_banner_heading {
	font-family: $baseFont;
	color: $textColor;
	font-size: 30px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 1;
    position: relative;
    &:after {
        content: "";
        background-color: $underscoreColor;
		display: block;
		width: 64px;
    	left: 120px;
		height: 14px;
		position: absolute;
		bottom: 3px;
		z-index: -1;
    }
}
.section_banner_text {
	color: $otherTextColor;
	font-family: $headerLogoFont;
}
.section_banner_button {
    @extend .header_button;
    display: inline-block;
}
.footer {
	width: 100%;
	display: flex;
	background-color: $tileColor;
	justify-content: center;
	height: 200px;
	z-index: 1;
	position: relative;
}
.footer-wrap {
	width: 100%;
	max-width: 1080px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 80px;
}
.footer_logo {
	width: max-content;
	height: max-content;
	p {
		color: $otherTextColor;
		font-family: $headerLogoFont;
		span {
			font-weight: 600;
		}
	}
}
.footer_text {
	max-width: 265px;
	height: max-content;
	color: $otherTextColor;
	font-family: $headerLogoFont;
	font-size: 14px;
	line-height: 1.5;
}
.footer-cr {
	height: max-content;
	font-family: $headerLogoFont;
	color: #C0C3CE;
	font-size: 16px;
}