$mainBackground: #21232e;
$backgroundImage: url(../img/m-h-night.jpg);
$textColor: #fff;
$buttonColor: #e3ac00;
$underscoreColor: #ff4e33;
$tileColor: #3b3f50;
$baseFont: 'Source Sans Pro', sans-serif;
$headerLogoFont: 'Fresca', sans-serif;
$gradient: linear-gradient(45deg, #e2ab00, #922b53);
$otherTextColor: #C0C3CE;