$mainBackground: #fff;
$backgroundImage: url(../img/m-h-day.jpg);
$textColor: #2c2f3c;
$buttonColor: #699900;
$underscoreColor: #14a0c7;
$tileColor: #21232e;
$baseFont: 'Source Sans Pro', sans-serif;
$headerLogoFont: 'Hind', sans-serif;
$gradient: linear-gradient(45deg, #699900, #2b59dd);
$otherTextColor: #C0C3CE;